<div class="topheader col-md-12 col-xs-12 col-sm-12">
  <mat-card class="mat-card mat-card-containing-div">
    <img src="../../../assets/signuplogo.jpg" class="logo">
    <h3 class="logintext">Login to Your Bodhami Account!</h3>

    <form [formGroup]="loginForm" (ngSubmit)="onLogin()" class="formpadding">
      <mat-form-field class="example-full-width">
        <input matInput placeholder="Email" formControlName="email" autocomplete="off">
        <mat-error *ngIf="loginForm.get('email') && loginForm.get('email').invalid">
          {{ emailError() }}
        </mat-error>
      </mat-form-field>

      <mat-form-field class="example-full-width">
        <input type="password" matInput placeholder="Password" formControlName="password" autocomplete="off">
        <mat-error *ngIf="loginForm.get('password') && loginForm.get('password').invalid">
          {{ passwordError() }}
        </mat-error>
      </mat-form-field>

      <div class="login-button-div">
        <button mat-raised-button color="primary" type="submit" class="login-button">LOG IN</button>
      </div>

      <p class="forgotpassword">
        <a class="popup forgot" routerLink="/resetPassword">Forgot Password?</a>
      </p>

      <p class="signup-student">
        <a class="popup signup" (click)="openSignupPopup()">Signup for Students</a>
      </p>
    </form>
  </mat-card>
</div>
