<form [formGroup]="formGroup">
    <h3>Competency Details</h3>
  
    <mat-form-field class="example-full-width">
      <mat-label>Select Competencies</mat-label>
      <mat-select formControlName="competency" multiple>

        <mat-option *ngFor="let competency of competencyOptions" [value]="competency">
          {{ competency }}
        </mat-option>
      </mat-select>
      <mat-error *ngIf="formGroup.get('competency').hasError('required')">Competency is required</mat-error>
    </mat-form-field>
  
    <h3>Achievements</h3>
  
    <div formArrayName="achievements">
      <div *ngFor="let achievement of achievements.controls; let i = index" [formGroupName]="i">
        <mat-form-field class="example-full-width">
          <input matInput placeholder="Award Title" formControlName="awardTitle">
        </mat-form-field>
    
        <mat-form-field class="example-full-width">
          <input matInput placeholder="Award Year" formControlName="awardYear">
        </mat-form-field>
    
        <mat-form-field class="example-full-width">
          <textarea matInput placeholder="Description" formControlName="description"></textarea>
        </mat-form-field>
      </div>
    </div>
    
  </form>
  