<!-- <div class="sidebar">
  <ul class="nav-links">
    <li class="sidebar-title">Dashboard</li>
    <li><a routerLink="/sessions">My Sessions</a></li>
    <li><a routerLink="/account">Account</a></li>
    <li><a routerLink="/studyabroadexplorer">Study Abroad</a></li>

   <li>
      <a routerLink="/studyabroadexplorer" class="parent-link">Study Abroad</a>
      <ul class="submenu">
        <li><a routerLink="/studyabroadexplorer/country">Country</a></li>
        <li><a routerLink="/studyabroadexplorer/university">University</a></li>
        <li><a routerLink="/studyabroadexplorer/course">Course</a></li>
      </ul>
    </li>
    <li><a routerLink="/explorer">Study Abroad Explorer</a></li>
    <li><a routerLink="/reviews">Reviews</a></li>
    <li><a routerLink="/counsellor">Counsellor</a></li>
    <li><a routerLink="/queries">Queries and Grievances</a></li>
    <li><a routerLink="/billing">Billings and Cancellations</a></li>
  </ul>
</div> -->

<div class="sidebar">
  <ul class="nav-links">
    <li class="sidebar-title">Dashboard</li>
    <li><a routerLink="/sessions">My Sessions</a></li>
    <li><a routerLink="/account">Account</a></li>
    <li>
      <details>
        <summary class="parent-link toggle-link">Study Abroad</summary>
        <ul class="nested-links">
          <li><a routerLink="/application-form">Your Application</a></li>
        </ul>
      </details>
    </li>
    <li>
      <details>
        <summary class="parent-link toggle-link"> Study Abroad Explorer</summary>
        <ul class="nested-links">
          <li><a routerLink="/studyabroadexplorer/country">Country</a></li>
          <li><a routerLink="/studyabroadexplorer/university">University</a></li>
          <li><a routerLink="/studyabroadexplorer/course">Course</a></li>
        </ul>
      </details>
    </li>
    <li><a routerLink="/reviews">Reviews</a></li>
    <li><a routerLink="/counsellor">Counsellor</a></li>
    <li><a routerLink="/queries">Queries and Grievances</a></li>
    <li><a routerLink="/billing">Billings and Cancellations</a></li>
  </ul>
</div>
<div>
  
</div>