<div class="dialog-container">
  <div class="dialog-header">
    <h3>Action for the user</h3>
    <button mat-icon-button (click)="closeDialog()">
      <mat-icon>close</mat-icon>
    </button>
  </div>
  <div class="dialog-content">
    <button mat-stroked-button color="primary" (click)="onEdit()">Edit</button>
    <button mat-stroked-button color="primary" (click)="closeDialog()">Add document</button>
    <button mat-stroked-button color="primary" (click)="closeDialog()">View history</button>
    <button mat-stroked-button color="primary" (click)="closeDialog()">View counsellor</button>
    <button mat-stroked-button color="primary" (click)="closeDialog()">Raise Query</button>
  </div>
</div>